a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

.navbar-default .navbar-toggle {
    border:none;
}


a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 20em;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  position: fixed;
  font-size: 15px;
  top: 0;
  width: 100%;
  z-index: 2000;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}


.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: #333!important;
    border-color: #333!important;
}


.thumbnail a>img, .thumbnail>img
 {margin:0px!important;}
 
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
    color: #777;
}

.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover {
   background-color:#191919!important; color:#fff!important; 
}

body::-webkit-scrollbar {
    width: 6px;background-color:#191919; 
}
 
body::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #000; border-radius:55px; 
}

.home-gallery{height:360px; width:100%;}

@media only screen and (min-width : 120px) and (max-width : 700px) {

.carousel {
    position: relative;
    display: none!important;
}

}

body {font-family: 'Montserrat', sans-serif!important;}

/*menu*/
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: rgb(230, 0, 8) !important;
    background:transparent !important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width: auto;
font-weight: normal;
text-align: center;
font-family: 'Roboto',sans-serif;
font-size: 16px;

}
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu-1:before {
    content:"";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    right: 25% !important;
    z-index: 10;
}
.mega-dropdown-menu-1:after {
    content:"";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    right: 25% !important;
    z-index: 8;
}
.mega-dropdown-menu-2:before {
    content:"";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 50%;
    z-index: 10;
}
.mega-dropdown-menu-2:after {
    content:"";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 50%;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:0px;
}
.mega-dropdown-menu form ul li
{
list-style:none;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.navbar-default {
    border-color: transparent !important;
	background:transparent;
	background-color: transparent !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    width: 100%;
    margin: 0px auto;
	text-align: right;

}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}
.navbar-nav {
    float: none !important;
    margin: 0 !important;
    display: inline-block !important;
}
.navbar-nav > li {
    float: left;
    padding: 23px 0px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    border-right: 1px solid #fff;
}
.navbar-default .navbar-nav > li > a:last-child {
    color: #fff !important;
    border-right: 1px solid #fff;
}
.navbar-nav > li > a {
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}
/*end*/

.logo {
    position: relative;
    margin: 12px auto;
    text-align: center;
}
.menu-head-title
{
background-color: rgb(230, 0, 8);
width: 100%;
padding: 10px;
color: rgb(255, 255, 255);

}
.sub-main{
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(0, 0, 0);
}

.menu-sec
{
/*background: url('../image/bg-img.png') repeat !important;*/
border-color: transparent !important;
width: 100%;
position: fixed;
width: 100%;
z-index: 99999;
background: #000;
}
.navbar-default .navbar-nav > a:hover {
    color: red !important;
    background: transparent !important;
}
.call
{
    position: relative;
    height: auto;
    margin: 7px 0px 20px 0px;
}
.call-txt {
    height: auto;
    background: #e60008;
    border-radius: 10px;
    padding: 1px 8px;
	width:350px;
	position:absolute;
	top: 16px;
	left: 57px;

}
.call-txt h4
{
font-size: 21px;
}
.call-txt1 {
    height: auto;
    border-radius: 10px;
    padding: 1px 8px;
    width: 100%;
    float: left;
	color:#fff;
}
.call-txt2 {
    height: auto;
    border-radius: 10px;
    padding: 1px 8px;
    width: 100%;
	color:#fff;
	margin:0px auto;
	text-align:center;
	color:#fff;
}
.left-menu
{
width:100%;
float:left;
}
.left-menu ul
{
margin:0px;
list-style:none;
float: right;
padding: 5px 0px;
}
.left-menu ul li
{
display:inline-block;
}
.left-menu ul li a {
    padding: 3px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.footer
{
margin:15px 0px 10px 0px;
padding:5px;
border:1px solid #262525;
border-radius:10px;
}
.call1 {
    position: relative;
    height: auto;
    margin: 34px 0px 0px 0px;
}
.call2 {
    position: relative;
    height: auto;
    margin: 14px 0px 10px 0px;
}
.copy-right
{
width:100%;float:left;background:#1a1a1a;padding:15px 0px;
}
.copy-txt
{
text-align:center;color:#fff;font-family: 'Roboto',sans-serif;
font-size: 16px;
}

.main
{
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px;
	background-size:100% 100%;
	min-height:240px;
	}
	.img-full
	{
	width:100%;
	height:auto;
	}

	/*details*/

	#profilepage {
	margin:0 auto;
	padding:5px;
	background:#000;
}
.profile2 {
	width:790px;
	background:#000;
}
.profiletop {
	padding:5px 0 3px;
	margin: 20px 0px;
}
.profilebubble {
	padding-right:10px;
	background-color:#fff
}
.bubble {
	float:left;
	overflow:hidden;
	width:300px;
	background:url(/assets/images/profile/bubble-bg.gif)
}
.bubble span {
	display:block;
	padding:7px 20px 8px 25px;
	background:url(/assets/images/profile/bubble-btm.gif) no-repeat right bottom;
	color:#3B3B3B;
	font-weight:700
}
.bubble p {
	display:block;
	background:url(/assets/images/profile/bubble-top.gif) no-repeat right top
}
.topleft {
	float:left;
	width:470px
}
#pic {
	display:block;
	overflow:hidden;
	margin:0;
	width:470px;
	height:auto;
	text-align:center
}
#photoEnlargeAddPhoto h1 {
	margin:10px 0;
	color:#042946;
	font-style:italic;
	font-size:20px
}
.upgradeView {
	line-height:1.5em
}
.upgradeView a {
	color:#333;
	font-weight:700
}
.bigphotoHeader {
	margin:50px 0 20px;
	padding:5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-color:#fff;
	color:#042946;
	font-weight:700;
	font-style:italic;
	font-size:17px
}
.bigphotoBdr {
	margin:10px auto;
	width:370px;
	height:320px;
	border:1px solid #aaa
}
.bigphoto {
	margin:10px auto 0;
	padding:10px;
	width:330px;
	height:280px;
	border:1px solid #aaa;
	font-style:italic;
	font-size:14px
}
.bigphoto p {
	margin-bottom:25px;
	color:#042946;
	font-size:17px;
	line-height:1.5em
}
.bigphoto a {
	color:#263b03;
	text-shadow:none
}
.greenShinyButton {
	margin:0 auto
}
#vid {
	margin:0 5px 5px
}
.ui-widget-overlay,.ui-dialog,.ui-widget,.ui-widget-content,.ui-corner-all,.dialogClose,.ui-dialog-titlebar,.ui-widget-header {
	-webkit-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-ms-user-select:none
}
.photo-display-popup {
	cursor:pointer
}
#no-photo-display-dialog-popup h1 {
	margin:10px 0;
	color:#042946;
	font-style:italic;
	font-size:20px;
	text-align:center
}
.big-photo-container {
	margin:10px auto;
	width:370px;
	height:320px;
	border:1px solid #aaa;
	text-align:center
}
.big-photo {
	margin:10px auto 0;
	padding:10px;
	width:330px;
	height:280px;
	border:1px solid #aaa;
	font-style:italic;
	font-size:14px
}
.big-photo p {
	margin-bottom:25px;
	color:#042946;
	font-size:17px;
	line-height:1.5em
}
.big-photo a {
	color:#263b03;
	text-shadow:none
}
.big-photo-header {
	margin:50px 0 20px;
	padding:5px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-color:#fff;
	color:#042946;
	font-weight:700;
	font-style:italic;
	font-size:17px;
	text-align:center
}
.upgrade-view {
	line-height:1.5em;
	text-align:center
}
.upgrade-view a {
	color:#333;
	font-weight:700
}
.topright {
	float:right;
	width:310px
}
#btns {
	padding:10px 0 6px 10px
}
.btns {
	float:left;
	margin:5px 3px 0 0
}
.addcomment {
	float:right
}
.addcomment a:link,.addcomment a:visited {
	padding:1px 5px 1px 25px;
	border:1px solid #999;
	border-radius:7px;
	background:#fff url(/assets/images/generic/comment.jpg) no-repeat 5px center;
	color:#333;
	text-decoration:none;
	font-weight:700
}
.addcomment a:hover {
	color:#555
}
.navmenu2 {
	margin:5px 0 10px;
	border-bottom:solid 1px #aaa;
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
.navmenu2 p {
	display:block;
	float:left;
	padding:8px 20px;
	font-weight:700;
	font-size:13px
}
.navmenu2 ul {
	float:right;
	margin:10px 0 0 10px
}
.profileleft {
	float:left;
	width:150px
}
#buttons {
	padding-top:10px;
	width:135px;
	margin:0 auto 20px
}
.buttons {
	margin-top:3px
}
#cupidwords {
	margin:0 auto;
	width:135px;
	background-color:#000
}
#cupidwords a:link,#cupidwords a:visited {
	display:block;
	padding:5px 3px 0 10px;
	color:#fff;
	text-decoration:none;
	font-weight:normal
}
#cupidwords a:hover {
	color:#000
}
.profileright {
	float:right;
	width:635px;
	background-color:#000
}
#profileinfo {
	padding:5px 10px
}
#profileinfo span {
	font-weight:700;
	font-size:16px
}
#profileinfo em {
	font-weight:700
}
#profileinfo p {
	padding-top:0;
	line-height:1.5em
}
#btnright {
	float:right;
	padding:10px 15px;
	width:270px;
	text-align:center
}
.btnsright {
	float:right;
	margin-top:5px
}
#backtotop {
	padding-right:10px;
	height:30px
}
#backtotop a:link,#backtotop a:visited {
	display:block;
	float:right;
	padding:3px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#e9e9e9;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:11px
}
#backtotop a:hover {
	background-color:#ddd;
	color:#000
}
#verificationTopBanner {
	margin:5px auto;
	width:770px;
	height:150px;
	border:#999 2px solid
}
#bannerText {
	margin-left:15px;
	width:300px;
	color:#333
}
#bannerText ul {
	margin:0;
	padding:0;
	border:none
}
#bannerText li {
	display:block;
	margin-top:12px;
	list-style:none
}
.verificationbg {
	width:770px;
	height:150px;
	border:#999 2px solid
}
.verificationtitle {
	text-align:left;
	font-weight:700;
	font-size:15px
}
.profilebanner {
	text-align:left;
	font-size:11px;
	line-height:1.4em
}
.verifynow {
	width:270px;
	text-align:center;
	cursor:pointer
}
.profiletext {
	padding:0
}
.profiletext em {
	display:block;
	margin:5px 0 10px;
	padding:10px 20px;
	height:15px;
	border-bottom:solid 1px #aaa;
	background-color:#e9e9e9;
	font-weight:700;
	font-size:13px
}
.profiletext p {
	display:block;
	padding:7px 20px;
	line-height:1.5em
}
.profiletext a:link,.profiletext a:visited {
	color:#333;
	text-decoration:none
}
.profiletext a:hover {
	color:#000
}
#profiledetailhdr {
	margin-top:8px;
	height:40px;
	border-bottom:solid 1px #999
}
#profiledetailhdr span {
	float:left;
	padding:10px 15px;
	width:250px;
	font-weight:700;
	font-style:italic
}
#profiledetailhdr p {
	float:left;
	padding:10px 15px;
	width:150px;
	font-weight:700;
	font-style:italic
}
#profiledetail {
	padding:0
}
#profiledetailhdr2 {
	height:30px;
	border-bottom:solid 1px #999;
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
#profiledetailhdr2 em {
	display:block;
	padding:7px 15px;
	width:300px;
	color:#fff;
	font-weight:700;
	font-style:italic
}
#profiledetailhdr2 a:link,#profiledetailhdr2 a:visited {
	color:#fff;
	text-decoration:none
}
#profiledetailhdr2 a:hover {
	color:#35360c
}
#slider {
	background-color:#e9e9e9
}
#sliderpics {
	float:left;
	overflow:hidden;
	padding:4px 0 4px 6px
}
.sliderpic {
	margin-left:0;
	border:solid 1px #777
}
#table {
	border-collapse:collapse;
	border-bottom:solid 0 #e1e1cb
}
#td1 {
	padding:2px 10px;
	border-bottom:solid 1px #e1e1cb
}
#td1 em {
	color:#888
}
#td2 {
	padding:2px 10px
}
#td3 {
	padding:2px 10px;
	border-bottom:1px solid #e7e7d8
}
#messagealert {
	margin:0 auto;
	padding:20px;
	width:500px;
	border:solid 2px #900;
	background-color:#f1e8e8
}
#messagealert h1 {
	display:block;
	margin:0;
	padding:5px 0;
	border-bottom:dashed 1px #900;
	color:#900;
	font-size:20px
}
#messagealert p {
	padding:10px 0;
	color:#333
}
#upgrade {
	padding:5px;
	width:575px;
	border:solid #73a849 3px;
	background-color:#fff
}
#upgradehdg {
	padding:5px;
	border-top:dashed 1px #73a849;
	border-bottom:dashed 1px #73a849;
	background-color:#f0fddf
}
#upgrade h1 {
	padding:10px;
	color:#3d651d;
	text-align:left;
	font-weight:700;
	font-size:20px;
	line-height:1.2em
}
#upgradetext {
	float:left;
	width:330px
}
#upgradetext p {
	display:block;
	padding:10px 20px;
	line-height:1.5em
}
#upgradetext ul {
	padding-left:35px
}
#upgradetext li {
	padding:5px
}
#photosbdr {
	margin-top:10px;
	padding:10px 10px 10px 35px;
	height:170px;
	border:1px solid #b1aeae;
	background-color:#e9e9e9
}
#photosbdr em {
	display:block;
	padding:5px 0;
	color:#4c4949;
	font-weight:700;
	font-style:italic;
	font-size:13px
}
#photos {
	padding:0
}
#member {
	float:left;
	margin-right:15px;
	padding:5px;
	border:solid 1px #ccc;
	background-color:#fff
}
#photos .bigpic {
	border:solid 5px #fff
}
.member {
	position:relative;
	display:block;
	width:90px;
	height:130px
}
.text {
	position:absolute;
	bottom:0;
	padding:5px 5px 5px 0;
	width:105px;
	background-color:#eee;
	background-color:#fff;
	background-color:rgba(255,255,255,0.5);
	text-align:center;
	font-size:11px;
	color:#000
}
.text a {
	color:#000
}
.text p {
	color:#000;
	font-weight:400;
	font-size:10px
}
.searchposition {
	float:left;
	padding:5px 0;
	width:350px;
	text-align:center
}
#memberprofile2 {
	display:block;
	float:right;
	margin-right:15px;
	text-align:right;
	font-style:400
}
#searchupdate {
	float:left;
	margin-left:10px;
	padding:3px;
	width:300px;
	border:solid 1px #eedbc8;
	background:#fcf2e8;
	color:#6d563f;
	text-align:center;
	font-weight:700
}
#nolink {
	float:left;
	margin:2px 0 2px 5px;
	padding:3px;
	width:100px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#e9e9e9;
	color:#999;
	text-align:center;
	text-decoration:none
}
#memberprofile {
	margin-top:0;
	padding-top:5px;
	height:30px
}
#memberprofile b {
	display:block;
	float:left;
	padding:0 5px 0 0
}
#memberprofile a:link,#memberprofile a:visited {
	float:left;
	margin:2px 0 2px 5px;
	padding:3px;
	width:145px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#e9e9e9;
	color:#000;
	text-align:center;
	text-decoration:none;
	font-size:11px
}
#memberprofile a:hover {
	background:#ddd;
	color:#000
}
#profiles {
	float:left;
	padding:5px 0 5px 30px;
	width:300px;
	text-align:center
}
#editprofile {
	margin-top:0;
	padding-top:5px;
	height:30px
}
#editprofile b {
	display:block;
	float:left;
	padding:0 5px 0 0
}
#editprofile a:link,#editprofile a:visited {
	float:left;
	margin:2px 0 2px 5px;
	padding:3px;
	width:145px;
	background:#e9e9e9;
	color:#000;
	text-align:center;
	text-decoration:none
}
#editprofile a:hover {
	background:#ddd;
	color:#000
}
#memberprofile em {
	display:block;
	padding:5px 0 5px 5px;
	text-align:center;
	font-style:400
}
#memberprofile2 {
	display:block;
	float:right;
	margin-right:15px;
	text-align:right;
	font-style:400
}
#memberprofile2 a:link,#memberprofile2 a:visited {
	float:left;
	margin:2px 0 2px 5px;
	padding:3px;
	width:100px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#e9e9e9;
	color:#444;
	text-align:center;
	text-decoration:none
}
#memberprofile2 a:hover {
	background:#ddd;
	color:#000
}
.errorouter {
	padding-top:100px
}
.error {
	margin:0 auto 200px;
	padding:10px;
	width:600px;
	border:2px solid #900;
	background-color:#fbe0de;
	color:#900
}
.error h1 {
	text-align:center;
	font-weight:700;
	font-size:15px;
	line-height:1.5em
}
.error p {
	color:#000;
	text-align:center
}
.returnmsg {
	margin-top:2px;
	padding:2px 7px;
	border:1px solid #900;
	background-color:#fbe0de;
	color:#900
}
.beige {
	background-color:#000;
}
.darkbeige {
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
.grey {
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
.matchesme {
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
.matchesthem {
	 background: -moz-linear-gradient(269deg, rgba(230,0,8,1) 0%, rgba(128,0,0,1) 100%); /* ff3.6+ */
}
#emailsection {
	margin-bottom:10px
}
#emailsection h2 {
	padding-left:5px;
	color:#000;
	font-weight:700;
	font-size:20px
}
#moremembersouter {
	margin:0 auto;
	padding-top:35px;
	width:135px
}
#moremembersinner {
	padding:1px 0 10px;
	border:1px solid #9e9e68;
}
#moremembers {
	padding-top:100px;
	width:135px
}
#moremembers h1 {
	display:block;
	margin:15px auto;
	padding:3px 0;
	width:110px;
	border-bottom:1px solid #626247;
	color:#626247;
	text-align:center
}
.member {
	display:block;
	overflow:hidden;
	margin:15px auto 0;
	width:90px;
	height:100px;
	border:2px solid #acac9e;
	background:url(#application.cdnPath#/memphoto/Photo1/small/#MemberID#.jpg) center top;
	background-color:#f1f1dc
}
.top {
	height:30px
}
.loading {
	background:url(/assets/images/generic/loading_icon.gif) no-repeat center center
}
#notes {
	margin:0 auto;
	width:135px;
	height:200px;
	background:url(/assets/images/generic/sticky-note.gif) center top no-repeat
}
#notesbuttons {
	margin:0 auto;
	width:100px
}
#notesbuttons a:link,#notesbuttons a:visited {
	display:block;
	margin-top:4px;
	padding:1px;
	border:1px solid #827b09;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#d6cc2c;
	color:#444004;
	text-decoration:none
}
#notesbuttons a:hover {
	background-color:#e1d72b
}
.CMuntitledDialog .ui-dialog-titlebar {
	display:none
}
.CMuntitledDialog .ui-dialog {
	position:fixed
}
.CMuntitledDialog .ui-icon-alert {
	background-position:0
}
.CMuntitledDialog .ui-icon {
	width:70px;
	height:70px;
	background-image:url("/assets/images/generic/warning.gif")
}
.clear
{
clear:both;
}
.footer-txt
{
background: rgb(230, 0, 8) none repeat scroll 0% 0%;
border-radius: 0px;
margin: 6px 0px;
}
#main-content
{
width:800px;
margin:0px auto;
color:#fff;
}
.dropdown-menu {
   
    background: #000 !important;
	z-index:99999;
    
}
.mega-dropdown-menu form ul li {
    list-style: none;
    color: #fff;
}
.mega-dropdown-menu-1::before {
    border-bottom: 15px solid red !important;
	}
	.btn-mega-tab
	{
	background: red none repeat scroll 0% 0% !important;
	border: 1px solid red !important;
	width: 80px !important;
	margin: 0px 5px 0px 0px !important;
	float: left !important;
	}
	.tooltip-inner
	{
	background-color: #F20C0C !important;
	}
	.tooltip.top .tooltip-arrow {
    border-top-color: #F20C0C !important;
}
.slider-handle {
background-image: linear-gradient(to bottom, #F20C0C 0%, #F20C0C 100%) !important;
}
.mega-dropdown-menu-1::after {
     right: 2% !important;
    z-index: 8;
}
.mega-dropdown-menu-1::before {
    right: 2% !important;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a :hover {
    color: red !important;
    background:url('../image/bg-menu-hover.png') no-repeat !important;
}
.border-menu
{
height:20px;background:url('../image/menu-border.png') no-repeat;background-size:100% 100%;
}
.border-menu-bottom
{
height:20px;background:url('../image/menu-border-bottom.png') no-repeat;background-size:100% 100%;
}
.call-border
{
height:30px;background-size:100% 100%;
}
.logo-img {
    width: 90px;
    height: 90px;
}
.logo-img-txt {
    width: 270px;
    height: 45px;
    margin-left: 5px;
}
@media only screen and (max-width : 992px){
.border-menu {
display:none;
}
.border-menu-bottom
{
display:none;
}
.main {
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px;
    background-size: 100% 100%;
    height: auto;
	min-height:290px;
}
.logo {
    position: relative;
    top: 0px;
    left: 0%;
}
.call {
    position: relative;
    height: auto;
    margin: 0px 0px 9px 0px;
}
.call-txt {
    height: auto;
    background: #e60008;
    position: relative;
    border-radius: 10px;
    top: 0px;
    padding: 1px 8px;
    margin: 14px auto;
	width: 98%;
}
.call-txt {
    height: auto;
    background: #e60008;
    border-radius: 10px;
    padding: 1px 8px;
    width: 320px;
    position: relative;
    top: -8px;
    left: 0px;
    right: 0px;
}
.call-txt h4 {
    font-size: 18px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    text-align: center;
}
}
@media only screen and (max-width : 767px){
.navbar-nav {
    float: left !important;
    margin: 0 !important;
    display: block !important;
    width: 100%;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0px solid transparent !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: #000;
}
.navbar-header
{
height: 80px;
}
.navbar-default .navbar-nav > li > a:last-child {
    color: #fff !important;
    border-right: 0px solid #fff !important;
}
.navbar-nav > li {
    float: left;
    padding: 23px 0px !important;
    border-bottom: 1px solid red;
}
.menu-sec {
    background: url('../image/bg-img.png') repeat !important;
    border-color: transparent !important;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    height: auto;
}
.tot-div
{
margin-top: 38px;
}
.mega-dropdown-menu-1::before {
    border-bottom: 15px solid red !important;
    display: none !important;
}
.mega-dropdown-menu-1::after {
    display: none !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding: 10px 0px !important;
}
.navbar-header {
    height: auto;
}
.main {
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px;
    background-size: 100% 100%;
    min-height: 265px;
}

}

@media only screen and (max-width : 400px){
.logo-img-txt {
    width: 180px;
    height: 31px;
}
.call-txt {
    height: auto;
    background: #e60008;
    border-radius: 10px;
    padding: 1px 8px;
    width: 296px;
    position: relative;
    top: -8px;
    left: 0px;
    right: 0px;
}
.logo-img {
    width: 75px;
    height: 75px;
}

}



.no-padding
{
padding:0px !important;
}
