/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-11-2015, 20:55:18
    Author     : dunghand
*/

/*-------------------------------*/



/*           VARIABLES           */



/*-------------------------------*/









.ui-state-default,  .ui-widget-content .ui-state-default,  .ui-widget-header .ui-state-default {

    border: 1px solid #e60008;

    background: #e60008;

    font-weight: normal;

    color: #555555;

}

.ui-widget-header {

    border: 1px solid #ec1c23;

    background: #ec1c23;

    color: #222222;

    font-weight: bold;

}

body {

    position: relative;

    overflow-x: hidden;

}


.text-image {

    position: relative;

    top: -8px;

    padding: 10px;

    color: #fff;

    margin-left: 18px;

    font-size: 14px;

    width: 88%;

    text-align: left;

}


.text-hour {

    position: relative;

    top: -27px;

    padding: 10px;

    color: #fff;

    margin-left: 29px;

    font-size: 24px;

    width: 62%;

    text-align: left;

}

.nav .open > a {

    background-color: transparent;

}

.nav .open > a:hover {

    background-color: transparent;

}

.nav .open > a:focus {

    background-color: transparent;

}

/*-------------------------------*/



/*           Wrappers            */



/*-------------------------------*/







#wrapper {

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    -webkit-transition: all 0.5s ease;

    padding-left: 0;

    -webkit-transition: all 0.5s ease;

    transition: all 0.5s ease;

}

#wrapper.toggled {

    padding-left: 252px;

}

#wrapper.toggled #sidebar-wrapper {

    width: 252px;

}

#wrapper.toggled #page-content-wrapper {

    margin-right: -220px;

    position: absolute;

}

#sidebar-wrapper {

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    -webkit-transition: all 0.5s ease;

    background: #1a1a1a;

    height: 100%;

    left: 220px;

    margin-left: -220px;

    overflow-x: hidden;

    overflow-y: auto;

    -webkit-transition: all 0.5s ease;

    transition: all 0.5s ease;

    width: 0;

    z-index: 1000;

}

#sidebar-wrapper::-webkit-scrollbar {

    display: none;

}

#page-content-wrapper {

    padding-top: 70px;

    width: 100%;

}

/*-------------------------------*/



/*     Sidebar nav styles        */



/*-------------------------------*/

.sidebar-nav::-webkit-scrollbar {

    width: 3px;background-color:#191919; 

}



.sidebar-nav::-webkit-scrollbar-track { 

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);

}



.sidebar-nav::-webkit-scrollbar-thumb {

    background-color: #ff0000;

    outline: 1px solid #000; border-radius:55px; 

}







.sidebar-nav {

    list-style: none;

    margin: 0;

    padding: 0;

    position: absolute;

    top: 0;

    width: 252px; height:650px; overflow:scroll;}

.sidebar-nav li {

    display: inline-block;

    line-height: 20px;

    position: relative;

    width: 100%;

}

.sidebar-nav li:before {

    -moz-transition: width 0.2s ease-in;

    -ms-transition: width 0.2s ease-in;

    -webkit-transition: width 0.2s ease-in;

    background-color: #1c1c1c;

    content: '';

    height: 100%;

    left: 0;

    position: absolute;

    top: 0;

    -webkit-transition: width 0.2s ease-in;

    transition: width 0.2s ease-in;

    width: 3px;

    z-index: -1;

}

.sidebar-nav li:first-child a {

    background-color: #1a1a1a;

    color: #ffffff;

}

.sidebar-nav li:nth-child(2):before {

    background-color: #FF0000;

}

.sidebar-nav li:nth-child(3):before {

    background-color: #FF0000;

}

.sidebar-nav li:nth-child(4):before {

    background-color: #FF0000;

}

.sidebar-nav li:nth-child(5):before {

    background-color: #FF0000;

}

.sidebar-nav li:nth-child(6):before {

    background-color: #8473be;

}

.sidebar-nav li:nth-child(7):before {

    background-color: #9485c6;

}

.sidebar-nav li:nth-child(8):before {

    background-color: #a396ce;

}

.sidebar-nav li:nth-child(9):before {

    background-color: #b2a7d6;

}

.sidebar-nav li:hover:before {

    -webkit-transition: width 0.2s ease-in;

    transition: width 0.2s ease-in;

    width: 100%;

}

.sidebar-nav li a {

    color: #dddddd;

    display: block;

    padding: 10px 15px 10px 30px;

    text-decoration: none;

}

.sidebar-nav li.open:hover before {

    -webkit-transition: width 0.2s ease-in;

    transition: width 0.2s ease-in;

    width: 100%;

}

.sidebar-nav .dropdown-menu {

    background-color: #222222;

    border-radius: 0;

    border: none;

    box-shadow: none;

    margin: 0;

    padding: 0;

    position: relative;

    width: 100%;

}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {

    background-color: transparent;

    color: #ffffff;

    text-decoration: none;

}

.sidebar-nav > .sidebar-brand {

    font-size: 20px;

    height: 65px;

    line-height: 44px;

}

/*-------------------------------*/



/*       Hamburger-Cross         */



/*-------------------------------*/

.ui-state-default,

.ui-widget-content .ui-state-default,

.ui-widget-header .ui-state-default {

    border: 1px solid #FF0000!important;

    background: #FF0000!important; border-radius:55px!important; padding:13px!important;

    font-weight: normal;

    color: #555555;

}





.hamburger {

    background: transparent;

    border: none;

    display: block;

    height: 32px;

    margin-left: 15px;

    position: fixed;

    top: 20px;

    width: 32px;

    z-index: 999;

}



.ui-widget-content {

    border: 1px solid #FF0000!important;

    background: #FF0000!important;

    color: #222222;

}

.ui-widget-content a {

    color: #222222!important;

}

.ui-widget-header {

    border: 1px solid #FF0000!important;

    background: #FF0000!important;

    color: #222222!important;

    font-weight: bold;

}



.hamburger:hover {

    outline: none;

}

.hamburger:focus {

    outline: none;

}

.hamburger:active {

    outline: none;

}

.hamburger.is-closed:before {

    -webkit-transform: translate3d(0, 0, 0);

    -webkit-transition: all 0.35s ease-in-out;

    color: #ffffff;

    content: '';

    display: block;

    font-size: 14px;

    line-height: 32px;

    opacity: 0;

    text-align: center;

    width: 100px;

}

.hamburger.is-closed:hover before {

    -webkit-transform: translate3d(-100px, 0, 0);

    -webkit-transition: all 0.35s ease-in-out;

    display: block;

    opacity: 1;

}

.hamburger.is-closed:hover .hamb-top {

    -webkit-transition: all 0.35s ease-in-out;

    top: 0;

}

.hamburger.is-closed:hover .hamb-bottom {

    -webkit-transition: all 0.35s ease-in-out;

    bottom: 0;

}

.hamburger.is-closed .hamb-top {

    -webkit-transition: all 0.35s ease-in-out;

    background-color: rgba(255, 255, 255, 0.7);

    top: 5px;

}

.hamburger.is-closed .hamb-middle {

    background-color: rgba(255, 255, 255, 0.7);

    margin-top: -2px;

    top: 50%;

}

.hamburger.is-closed .hamb-bottom {

    -webkit-transition: all 0.35s ease-in-out;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 5px;

}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {

    height: 4px;

    left: 0;

    position: absolute;

    width: 100%;

}

.hamburger.is-open .hamb-top {

    -webkit-transform: rotate(45deg);

    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);

    background-color: #ffffff;

    margin-top: -2px;

    top: 50%;

}

.thumbnail {

    display: block;

    padding: 0px;

    margin-bottom: -142px;

    line-height: 1.42857143;

    background-color: #fff;

    border: none!important;

    -webkit-transition: border .2s ease-in-out;

    -o-transition: border .2s ease-in-out;

    transition: border .2s ease-in-out

}

.hamburger.is-open .hamb-middle {

    background-color: #ffffff;

    display: none;

}

.hamburger.is-open .hamb-bottom {

    -webkit-transform: rotate(-45deg);

    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);

    background-color: #ffffff;

    margin-top: -2px;

    top: 50%;

}

.hamburger.is-open:before {

    -webkit-transform: translate3d(0, 0, 0);

    -webkit-transition: all 0.35s ease-in-out;

    color: #ffffff;

    content: '';

    display: block;

    font-size: 14px;

    line-height: 32px;

    opacity: 0;

    text-align: center;

    width: 100px;

}

.hamburger.is-open:hover before {

    -webkit-transform: translate3d(-100px, 0, 0);

    -webkit-transition: all 0.35s ease-in-out;

    display: block;

    opacity: 1;

}

/*-------------------------------*/



/*          Dark Overlay         */



/*-------------------------------*/







input[type=checkbox], input[type=radio] {

    margin: 4px 0 0;

    margin-top: 1px\9;

    line-height: normal;

    margin-left: 25px;

}

.overlay {

    position: fixed;

    display: none;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);

    z-index: 1;

}

/* SOME DEMO STYLES - NOT REQUIRED */







body, html {

    background-color: #000000;

    font-family: 'Roboto',sans-serif !important;

}

@media only screen and (min-width : 120px) and (max-width : 700px) {

    .hamburger {

        background: transparent;

        border: none;

        display: block;

        height: 32px;

        margin-left: 1px;

        position: fixed;

        top: 20px;

        width: 32px;

        z-index: 99999;

    }

}

#social-bar a{
    padding: 10px!important;    
}
#social-bar a i{
    font-size: 16px!important;
}
#social-bar a:hover i{
    color:yellow!important;
}

#social-bar{
    float: right;
    padding: 40px 5px;
}